* {
  margin: 0;
  padding: 0;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared style */
.secondary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.btn-primary {
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 18px 36px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
}
.section-desc {
  font-size: 18px;
}
.text-center {
  text-align: center;
}
/* header */
header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: center left, bottom right;
}
/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 230px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
}
.banner-content {
  max-width: 584px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-weight: 800;
  font-size: 85px;
  margin: 20px 0;
}
.banner-desc {
  font-size: 18px;
  margin-bottom: 30px;
}
.banner-img {
  width: 584px;
}

/* main section style  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* about styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about > p {
  margin: 30px 0;
}
.about-items {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.item-title {
  font-size: 20px;
}
.item-desc {
  font-size: 20px;
  font-weight: bold;
}

/* skills style */
.skills > p {
  width: 900px;
  margin: 30px auto;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill > .skill-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
/* resume section style  */
.resume-column hr {
  border: 1px solid #d1d1d1;
}
.resume-container {
  margin-top: 110px;
  display: flex;
  gap: 24px;
}
.resume-column-title {
  font-size: 30px;
}
.experience-title {
  font-size: 25px;
  margin-top: 30px;
}
.experience-subtile {
  font-size: 20px;
  margin-top: 10px;
}
.experience-desc {
  margin-top: 20px;
  margin-bottom: 30px;
}
.resume-download-cv {
  margin-top: 20px;
}

/* footer style */
footer {
  margin-top: 110px;
  padding: 130px 230px;
  display: flex;
  gap: 110px;
}
.footer-column {
  width: 50%;
}
.footer-column > p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer-column > div > a > img {
  margin-right: 24px;
}
.footer-column form {
  margin-top: 20px;
}
footer input[type="text"],
footer input[type="email"],
footer textarea {
  height: 64px;
  border-radius: 5px;
  background-color: #fff;
  display: block;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  padding-left: 30px;
}
footer textarea {
  padding-top: 30px;
}

/* responsive media query */
.hide {
  display: none;
}

@media screen and (max-width: 576px) {
  .btn-primary {
    padding: 10px 20px;
  }
  header {
    background-image: none;
  }
  .banner {
    margin: 20px;
  }
  .banner-img {
    width: 100%;
  }
  .about {
    padding: 20px;
  }
  .skills > p {
    width: auto;
    padding: 0 15px;
  }

  nav,
  .banner,
  .about-items,
  .skills-container,
  .resume-container,
  footer {
    flex-direction: column;
    padding: 0px 20px;
  }
  .footer-column {
    width: calc(100% - 40px);
  }
  nav {
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: rgb(255, 248, 243);
  }
}
